In [1]:
import numpy as np

np.random.seed(77)
Q1 = np.random.randint(50, size = (8, 6))

In [4]:
Q2 = Q1[2:7, 4:6]

In [10]:
Q3 = Q1[2:, 3:5]

In [41]:
Q4 = Q3.reshape(2, 6)

In [43]:
Q5 = Q4.reshape(3,4)

In [51]:
Q6 = np.zeros(5, dtype = {'names':('name', 'last', 'height', 'age'),
                            'formats' :('U20', 'U20', 'int16', 'int16')})

name = ['Janetta ', 'Deb', 'Minato', 'Maurine', 'Niketas']
last = ['Lydia', 'Albin', 'Vanja', 'Peter', 'Justine']
height = [58, 68, 78, 77, 70]
age = [58, 50, 38, 57, 60]                                        
                                        

Q6['name'] = name
Q6['last'] = last
Q6['height'] = height
Q6['age'] = age                                       
print(Q6)

[('Janetta ', 'Lydia', 58, 58) ('Deb', 'Albin', 68, 50)
 ('Minato', 'Vanja', 78, 38) ('Maurine', 'Peter', 77, 57)
 ('Niketas', 'Justine', 70, 60)]