In [1]:
import numpy as np

np.random.seed(56)
Q1 = np.random.randint(20, size = (10, 10))

In [2]:
Q2 = Q1[2:5, 3:8]

In [3]:
Q3 = Q1[7:, 4:6]

In [4]:
Q4 = Q3.reshape(2, 3)

In [5]:
x = np.random.randint(15, size = (10))
y = np.random.randint(15, size = (10))

Q5 = np.concatenate([x ,y])

In [11]:
Q6a, Q6b, Q6c, Q6d = np.split(Q5, [4, 11, 17])

In [13]:
Q7 = np.sum(Q5)

In [26]:
randnums=np.random.randint(48,86,50)
Q8 = np.mean(randnums)

In [42]:
Q9 = np.zeros(3, dtype = {'names':('name', 'occupation', 'salary'),
                            'formats' :('U20', 'U20', 'f8')})

name = ['Jonathan Loaisiga ', 'Nick Saban', 'Katie Ladecky']
occupation = ['Baseball player', 'Football Coach', 'Swimmer']
salary = [595800.00, 8619934.23, 100000.00]

Q9['name'] = name
Q9['occupation'] = occupation
Q9['salary'] = salary
print(Q9)

[('Jonathan Loaisiga ', 'Baseball player',  595800.  )
 ('Nick Saban', 'Football Coach', 8619934.23)
 ('Katie Ladecky', 'Swimmer',  100000.  )]