In [6]:
import pandas as pd

series = pd.Series(range(3, 12, 2))
Q1 = series.values

In [14]:
Q2 = series.index

In [19]:
Q3 = series[2]

In [23]:
Q4 = series[2:4]

In [24]:
Q5 = pd.Series([3, 5, 7, 9, 11], 
               index=['three', 'five', 'seven', 'nine', 'eleven'])

In [27]:
Q6 = pd.Series({'Da': 'ta', 'Sc': 'ie', 'nc': 'ef', 'or': 'all'})

In [28]:
Q7 = Q6[2]

In [29]:
Q8 = Q6[1:4]

In [30]:
lowercase = pd.Series({'A': 'a', 'B': 'b', 'C': 'c'})
numbers = pd.Series({'A': 1, 'B': 2, 'C':3})
Q9 = pd.DataFrame({'lowercase':lowercase, 'numbers':numbers})

In [34]:
Q9

  lowercase  numbers
A         a        1
B         b        2
C         c        3

In [37]:
Q10 = Q9.index

In [32]:
Q11 = Q9.columns

In [33]:
Q12 = Q9.numbers